// Resets, Variables, Mixins, and Utility classes

// Variables
$website-width: 1280px;

$accent-font: "Balsamiq Sans", cursive;
$primary-font: "Rubik", sans-serif;

$bg-dark: #0f1525;
$bg-medium: #3a3f52;
$bg-light: #e6efff;
$accent-color: #d5a419;

$primary-color: #fff;
$secondary-color: #e6efff;

// Mixins

@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #333;
  } @else {
    @return #fff;
  }
}

@function set-bottom-line-color($color) {
  @if (lightness($color) > 50) {
    @return black;
  } @else {
    @return $bg-light;
  }
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin shape-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

@mixin shape-divider-svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 117px;
}

@mixin skill-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.header-text {
  font-size: 3rem;
  font-weight: 500;
}

.sub-header-text {
  font-size: 1.5rem;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  line-height: 1.6;
}
h1 {
  padding: 0;
}

ul {
  list-style: none;
  display: flex;

  li {
    padding: 0 1rem;
  }
}

a {
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px transparent solid;
  padding-bottom: 0.25rem;
  transition: opacity 0.5s;
  color: #fff;

  &:hover {
    opacity: 0.5;
  }
}

.social {
  .fab {
    color: #fff;
    padding: 0 1rem;
  }
}
.underline {
  border-bottom: 2px $accent-color solid;
}

// Utilities

.text-center {
  text-align: center;
}

.py {
  &-1 {
    padding: 1rem 0rem;
  }
  &-2 {
    padding: 2rem 0rem;
  }
  &-3 {
    padding: 3rem 0rem;
  }
  &-4 {
    padding: 4rem 0rem;
  }
}

.pxy {
  &-1 {
    padding: 1rem 1rem;
  }
  &-2 {
    padding: 2rem 2rem;
  }
  &-3 {
    padding: 3rem 3rem;
  }
  &-4 {
    padding: 4rem 4rem;
  }
}

.my {
  &-1 {
    margin: 1rem 0rem;
  }
  &-2 {
    margin: 2rem 0rem;
  }
  &-3 {
    margin: 3rem 0rem;
  }
  &-4 {
    margin: 4rem 0rem;
  }
}

%container-shared {
  margin-bottom: 6rem;
}
