// Resets, Variables, Mixins, and Utility classes

// Variables
$website-width: 1280px;

$accent-font: "Balsamiq Sans", cursive;
$primary-font: "Rubik", sans-serif;

$bg-dark: #0f1525;
$bg-medium: #3a3f52;
$bg-light: #e6efff;
$accent-color: #d5a419;

$primary-color: #fff;
$secondary-color: #e6efff;

// Mixins

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  line-height: 1.6;
  background: $bg-dark;
}
h1 {
  padding: 0;
}

ul {
  list-style: none;
  display: flex;

  li {
    padding: 0 1rem;
  }
}

a {
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;
  color: #fff;

  &:hover {
    border-color: $accent-color;
  }
}

.social {
  .fab {
    color: #fff;
    padding: 0 1rem;
  }
}

// Utilities
.text-center {
  text-align: center;
}

.py {
  &-1 {
    padding: 1rem 0rem;
  }
  &-2 {
    padding: 2rem 0rem;
  }
  &-3 {
    padding: 3rem 0rem;
  }
  &-4 {
    padding: 4rem 0rem;
  }
}

.my {
  &-1 {
    margin: 1rem 0rem;
  }
  &-2 {
    margin: 2rem 0rem;
  }
  &-3 {
    margin: 3rem 0rem;
  }
  &-4 {
    margin: 4rem 0rem;
  }
}
