// Reusable Components

.btn-accent {
  background: $accent-color;
  border-radius: 10px; //30px
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-family: $accent-font;
  cursor: pointer;
  border: none;
}

.bottom-line {
  display: block;
  height: 3px;
  width: 12rem;
  background: black;
  position: relative;

  .oval {
    position: absolute;
    display: block;
    height: 12px;
    background: $accent-color;
    top: -6px;
    left: 40%;
    right: 40%;
    border-radius: 5px;
  }
}
