// Container and Grid stuff
.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}
#header {
  background: $bg-dark;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#nav {
  @include flex-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#home {
  background: $bg-dark;
  .custom-shape-divider-bottom {
    @include shape-divider;
  }

  .custom-shape-divider-bottom svg {
    @include shape-divider-svg;
  }

  .custom-shape-divider-bottom .shape-fill {
    fill: $bg-light;
  }

  .home {
    &-container {
      @include flex-between;
      @extend %container-shared;

      .profile {
        @include flex-column;
        width: 50%;

        .primary {
          color: $primary-color;
          font-size: 4rem;
          font-family: $accent-font;
          font-weight: 500;
        }

        .secondary {
          color: $secondary-color;
          font-size: 2rem;
          font-weight: 400;
        }

        .small {
          color: $secondary-color;
        }
      }
      .mask {
        transform: scale(1);
        transition: transform 250ms cubic-bezier(0.4, 0, 0, 2, 0.1);
        transform-origin: 50%;
      }
      .mask:hover .profile_pic {
        transform: translateY(-7px) translateX(-5px) scale(1.05);
      }
      .pic {
        width: 50%;
        .profile_pic {
          width: 150px;
          height: 150px;
          transform: translateY(0px) scale(1);
          transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
    }
  }
}

#about {
  background: $bg-light;
  color: set-text-color($bg-light);

  .bottom-line {
    background: set-bottom-line-color($bg-light);
  }
  .custom-shape-divider-bottom {
    @include shape-divider;
  }

  .custom-shape-divider-bottom svg {
    @include shape-divider-svg;
    transform: rotateY(180deg);
  }

  .custom-shape-divider-bottom .shape-fill {
    fill: $bg-medium;
  }

  .about {
    &-header {
      @include flex-column;
    }
    &-container {
      display: flex;
      justify-content: space-between;
      @extend %container-shared;
      box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.19);
      background: $bg-light;

      .description-highlights {
        text-align: left;
        display: grid;
        grid-template-rows: repeat(2, 1fr);

        .description {
          grid-template-rows: 1 / 2;
        }

        .highlights {
          grid-template-rows: 2 / 3;
        }

        ul {
          flex-direction: column;
          list-style: disc;
        }

        p,
        li {
          font-size: 1.2rem;
        }

        li {
          margin-left: 20px;
        }

        ::marker {
          color: $accent-color;
          font-size: 1.8rem;
        }
      }
    }
  }
}

#skills {
  background: $bg-medium;
  color: set-text-color($bg-medium);

  .bottom-line {
    background: set-bottom-line-color($bg-medium);
  }

  .custom-shape-divider-bottom {
    @include shape-divider;
  }

  .custom-shape-divider-bottom svg {
    @include shape-divider-svg;
  }

  .custom-shape-divider-bottom .shape-fill {
    fill: $bg-light;
  }
  .skills {
    &-header {
      @include flex-column;
    }

    &-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin: auto;
      .left-column {
        @include skill-column;
        :not(:last-child) {
          margin-bottom: 1rem;
        }
      }
      .center-column {
        @include skill-column;
        margin-top: 4rem;
        :not(:last-child) {
          margin-bottom: 1rem;
        }
      }
      .right-column {
        @include skill-column;
        margin-top: 8rem;
        :not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

#work {
  background: $bg-light;
  color: set-text-color($bg-light);

  .bottom-line {
    background: set-bottom-line-color($bg-light);
  }

  .custom-shape-divider-bottom {
    @include shape-divider;
  }

  .custom-shape-divider-bottom svg {
    @include shape-divider-svg;
  }

  .custom-shape-divider-bottom .shape-fill {
    fill: $bg-dark;
  }

  .work {
    &-header {
    }
  }
}

@media (max-width: 767px) {
  .custom-shape-divider-bottom svg {
    width: calc(100% + 1.3px);
    height: 27px;
  }
}
