//Tablets
@media (max-width: 912px) {
  #home {
    .home-container {
      margin-top: 3rem;
    }
  }
  #skills {
    .skills {
      &-container {
        margin-bottom: 4rem;
      }
    }
  }
  #work {
    #personal {
      .personal-row {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
      }
      .personal-project-card {
        height: 525px;
        width: 525px;
        margin-bottom: 2rem;
        img {
          //ratio: 2.2544
          width: 461px;
          height: 181px;
        }
      }
    }
    #academic {
      .personal-row {
        flex-wrap: wrap;
        flex-direction: row;
      }
      .academic-project-card {
        height: 340px;
        width: 340px;
        padding: 1.5rem;
        .badge {
          padding: 0.3rem 0.2rem;
          margin-right: 0.5rem;
          margin-bottom: 0.5rem;
          p {
            font-size: 0.8rem;
          }
        }
      }
      p {
        font-size: 0.9rem;
      }
      .fa-3x {
        font-size: 2rem;
      }
    }
  }
  .skill-card {
    height: 200px;
    width: 200px;
  }

  #contact {
    .contact-container {
      .form-container {
        max-width: 540px;
      }
    }
  }
}

//smaller tablets

@media (max-width: 540px) {
  #skills {
    .skills {
      &-container {
        .center-column {
          margin-top: 2rem;
        }
        .right-column {
          margin-top: 4rem;
        }
      }
    }
  }
  #work {
    #academic {
      .academic-project-card {
        height: 340px;
        width: 240px;
        padding: 1rem;

        h3 {
          font-size: 1rem;
        }
        .badge {
          p {
            font-size: 0.6rem;
          }
        }
      }
      p {
        font-size: 0.8rem;
      }
    }
  }
  .skill-card {
    height: 150px;
    width: 150px;
    p {
      font-size: 1rem;
    }
  }
  #contact {
    .contact-container {
      .form-container {
        max-width: 450px;
      }
    }
  }
}
